@CHARSET "UTF-8";

img.header {
	display: block;
	height: 20%;
	width: 10%;
}

.title {
	font-family: Monospace;
	font-size: 100%;
	float: left;
	width: 45%;
	height: 55%;
	padding-left: 5%;
}

.logo {
	margin-left: auto;
	padding: 1%;
	float: left;
	width: 20%;
	height: 60%;	
}

.form 
{
	font-family: Monospace;
	font-size: 100%;
	float: left;
	width: 20%;
	height: 55%;
	padding-left: 5%;
}

.buttons {
	width: 100%;
	height: 20%;
	margin-right: auto;
	float: left;
	padding: 1%;
}

.header {
	margin-left: auto;
	margin-right: auto;
	background-color: #009966;
	float: left;
	width: 100%;
}

.footer {
	margin-left: auto;
	margin-right: auto;
	background-color: #009966;
}

.content {
	background-color: #33CC66;
}


.button {
	width: 12%;
	height: 5%;
	display: inline-block;
	
	text-align: center;
}

.button a {
	display: inline-block;
	width: 80%;
	background-color: #33CC66;
	color: black;
	height: 90%;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	
	padding: 1%;
}

.sensorValues p 
{
	font-size: 25px;
}

.sensorValues 
{
	float: left;
	padding: 30px;
	padding-right: 80px;
}

.sensorPics 
{
	width: 350px;
	height: 350px;
	padding: 30px;
}

#windSpeedGraph 
{
	float:left;
	width: 33%;
}

#sonarGraph 
{
	float:left;
	width:33%;
}


.button a:HOVER {
	background-color: #22BB55;
	font-weight: bold; 
}

.link{
	font-family: Monospace;
		width: 12%;
	height: 5%;
	display: inline-block;
	
	text-align: center;
	float: right;
	padding: 1%;
}
